doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(href="./style.css" rel="stylesheet")
    body 
        div.main
        div.footer
            div.bubbles
                - for( var i=0; i<128; i++)
                    div.bubble(style=`--size:${2+Math.random()*4}rem;
                    --distance:${6+Math.random()*4}rem;
                    --position:${-5+Math.random()*110}%;
                    --time:${2+Math.random()*2}s;--delay:${-1*(2+Math.random()*2)}s;`)
            div.content
        svg(style="position:fixed; top:100vh")
        defs
            filter#blob
                feGaussianBlur(in="SourceGraphic" stdDeviation="10" result="blur")
                feColorMatrix(in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="blob")
                //feComposite(in="SourceGraphic" in2="blob" operator="atop") //After reviewing this after years I can't remember why I added this but it isn't necessary for the blob effect